@-webkit-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-o-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

.datacontainer-fade {
    opacity:0;
    -webkit-animation:fadein linear 1;
       -moz-animation:fadein linear 1;
         -o-animation:fadein linear 1;
            animation:fadein linear 1;

    -webkit-animation-fill-mode:forwards;
       -moz-animation-fill-mode:forwards;
         -o-animation-fill-mode:forwards;
            animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
       -moz-animation-duration:1s;
         -o-animation-duration:1s;
            animation-duration:1s;
}

.switch-btn {
    color:white;
    background-color:rgba(255,255,255,0.2);
    font-size:36px;
    border:unset !important;
    position:static;
    width:465px;
    height:120px;
}

.switch-btn.b:hover {
    background-color:rgba(255,255,255,0.3);
}

.switch-btn.b:disabled {
    background-color:rgba(255,255,255,0.2) !important;
}

#ViewDataLink {
    color:black !important;
}

.grid-border {
    box-shadow:inset 0px -12px 15px -10px rgba(0,0,0,0.4);
    background-color:rgba(255,255,255,0.1);
}

#cId {
    position:absolute;
	top:90px;
    left:0;
		
	text-align:left;
}

#cName {
	position:absolute;
	top:180px;
	left:0;
		
	text-align:left;
}

#cAddr {
	position:absolute;
	top:270px;
	left:0;
		
	text-align:left;
}

#reset {
    position:absolute;
    bottom:20px;
    right:306px;
}

#commit {
	position:absolute;
	bottom:20px;
	right:0px;
}

#cId .t {
	width: 100px;
}

#cName .t {
	width:300px;
}

#cAddr .t {
	width:300px;
}

#commit .b, #reset .b {
	width:200px;
	height:60px;
	
	font-size:32px;
}

.b, .t {
    border:1px solid black;
}

.b {
    -webkit-transition:linear 0.2s;
       -moz-transition:linear 0.2s;
         -o-transition:linear 0.2s;
            transition:linear 0.2s;
}

.b:hover, .t:hover {
    background-color:rgb(71, 59, 76);
}

.b:focus, .t:focus {
    background-color:rgb(71, 59, 76);
}






.dg-id {
    width:3.5vw;
}

.dg-name {
    width:17.5vw;
}

.dg-addr {
    width:17.5vw;
}

.dg-city {
	width:10.5vw;
}

.dg-state {
	width:4vw;
}

.dg-zip {
	width:6vw;
}

.dg-clim {
	width:6vw;
}

.dg-term {
	width:8vw;
}

.dg-wo {
	width:2vw;
}

.dg-woid {
	width:4vw;
}
