#cuId {
    position:absolute;
	top:90px;
    left:0;
		
	text-align:left;
}

#cuName {
	position:absolute;
	top:180px;
	left:0;
		
	text-align:left;
}

#cuAddr {
	position:absolute;
	top:270px;
	left:0;
		
	text-align:left;
}

#coName {
	position:absolute;
	top:180px;
	right:0;
		
	text-align:left;
}

#cuNum {
	position:absolute;
	top:270px;
	right:0;
		
	text-align:left;
}

#orOpen {
	position:absolute;
	top:360px;
	left:0;
		
	text-align:left;
}

#orSched {
	position:absolute;
	top:360px;
	left:180px;
		
	text-align:left;
}

#orProg {
	position:absolute;
	top:450px;
	left:0;
		
	text-align:left;
}

#orComp {
	position:absolute;
	top:450px;
	left:180px;
		
	text-align:left;
}

#commit {
	position:absolute;
	bottom:20px;
	right:0px;
}

#cuId .t {
	width: 100px;
}

#cuName .t {
	width:300px;
}

#cuAddr .t {
	width:300px;
}

#coName .t {
	width:200px;
}

#cuNum .t {
	width:200px;
}

#orOpen .t {
	width:100px;
}

#orSched .t {
	width:100px;
}

#orProg .t {
	width:100px;
}

#orComp .t {
	width:100px;
}

#commit .b {
	width:200px;
	height:60px;
	
	font-size:32px;
}