html,body,form {
    margin:0;
    padding:0;
    overflow:hidden;
    width:100%;
}

/* Move down content because we have a fixed navbar that is 60px tall */
body {
    padding-top: 60px;
    padding-bottom: 35px;
    color: #ffffff;
    background-image:url('../Images/vengeful_slothPurple.png');
    background-color:#180c1d;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:initial;
    background-position:left top;
}

.fillBG {
    min-height:5000px;
    height:auto;
    width:100%;
    position:center;
}

/* match with body padding-top */
.bar-navbar {
    height:60px;
}

/* match with .body-content padding-bottom */
.sitefooter {
        height:25px;
}

.alphaBG, .jumbotron {
    background-color:rgba(41,29,46,0.1);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin:0;
    padding-left: 15px;
    padding-right: 15px;
    background-color:rgba(41,29,46,0.5);
    color: #ffffff;
    min-width:100%;
    width:auto;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    background-color: #291d2e;
    color: #ffffff;
}

.jumbotron {
    /*background-color: #291d2e;*/
        color: #ffffff;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    #navMain {
        position:fixed;
        left:120px;
    }
}

@media screen and (max-width: 767px) {
    #nav {
        margin:0;
        padding:0;
        width:100%;
        border:1px solid black;
        box-shadow:rgba(0,0,0,0.1) 0 1px inset;
        background-color:#222222;
    }

    #navMain {
        border-top:0;
        margin-top: 9px;
        width: 300px;
        position: absolute;
        right: 20px;
        box-shadow:unset;
    }

    .navbar li a {
        border:0;
        margin:0;
        padding:5px 20px 0 20px;
        height:30px;
        background-clip:border-box;
    }
}

.content-center {
    margin-left:25px;
    margin-right:25px;
}

.sitefooter {
    text-align:right;
    text-indent:50px;
    position:fixed;
    overflow:hidden;
    width:100%;
    z-index:1000;
    right:0px;
    bottom:0px;
    background-color:#222222;
    border-top: 1px solid #000000;
    color:#999999;
    padding-right:20px;
    line-height:10px;
    text-overflow:clip;
}

.navbar-brand {
    color:#999999 !important;
    position:fixed;
    left:30px;
}

.btn-norm {
    background-color: #5C3A5C;
    color: #ffffff;
    border-radius: 0px 0px;
}

.btn-navbar {
    height:59px;
}

.bar-navbar {
    border-bottom: 1px solid black;
}

#active {
    background-color: rgb(255,200,80);
    color:white;
}
#active:hover {
    background-color: rgb(255,200,127) !important;
}

#nav a {
    -webkit-transition:0.04s;
    -moz-transition:0.04s;
    -o-transition:0.04s;
    transition:0.04s;
}

#nav a:hover {
    background-color:rgb(255,0,0);
    color:white;
}

#loader {
    position:absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#mainDiv {
     -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
          -o-animation: fadein 1s;
             animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-o-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}
